body{
    display: flex;
    flex-direction: column;
    background-color: #f2cc8f;
    padding: 0px;
    align-items: stretch;
}
#header{
    display: flex;
    align-items: end;
    justify-content: center;
    background-color: #81b29a;
}

h1{
    font-family: "Rubik Iso";
    font-size: 48px;
    color: #3d405b;
}
#sketchPad{
    align-self: center;
    background-color: #F4F1DE;
    width: 500px;
    height: 500px;
    border: 10px ridge #E07A5F;
    margin: 50px 0px;

}

#canvas{
    display: grid;
    width: 500px;
    height: 500px;
}

.pixel{
    border: 1px solid #cfcfcf;
}

#btnContainer{
    display: flex;
    justify-content: space-around;
    padding: 0px 50px 40px 50px;
}

#bwButton,
#eraser{
    height: 20px;
    width: 50px;
    border: 1px solid;
}

#bwButton{
    background-color: black;
}

#eraser{
    background-color: white;

}

#footer{
    background-color: #e07a5f;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Rubik Iso";
    font-size: 24px ;
    color: #3d405b;
}
 #footer p{
    margin: 10px;
 }

 #footer a{
    margin: 10px;
    color: #3d405b;
 }